/*Selectores*/
/*1.- Etiquetas*/
/*2.- Identificadores*/
/*3.- Clases*/
body /*selector - etiqueta*/
{
	/*atributo: valor;*/
	border: 1px solid blue;
	border-radius: 5px;
	font-size: 16px; /*tamaño de fuente estàndar*/
	margin: 0px auto;
	max-width: 1024px;
}

footer
{
	border: 1px solid blue;
	font-size: 1.5em;
	text-align: center; /*alineamos todo el texto*/
}

header
{
	background: pink; /*fondo*/
	border: 1px solid red; 
	color: white; /*letra*/
	/*padding:  0px 0px 20px 0px;*/
	text-align: center; /*alineaciòn*/
}
header img
{
	float: right;
	margin: -30px 20px 0px 0px;
	width: 100px; /*ancho de la imagen*/

}
header nav ul li
{
	/*border: 1px solid yellow; */
	background: gray; /*color de fondo*/
	border-radius: 5px; /*bordes redondeados*/
	display: inline-block; /*rompe el modelo de caja*/
    box-shadow: 5px 5px;
    margin: 0px 10 50px 10px; /*separo las cajas*/
	padding: 0px 10px; /*agrando los botones(interno)*/
	width: 80px; /*ancho del botòn*/
}

header nav ul li:hover /*mouse por encima*/
{
	background: white; /*color de fondo*/
	color: orange; /*color de letra*/
}

main 
{
	margin: 15px 0px 0px 0px;
}

main section article
{
	/*border: 1px solid red;*/
	display: inline-block;
	vertical-align: top;
	width: 24%;

}