body
{
	margin: 0 auto;
	max-width: 1024px;
}

header
{
	margin-bottom: 80px;
	text-align: center;
}

header img /*logo*/
{
	margin-top: -40px;
	float: right;
	width: 150px;
}

header nav
{
	display: none;
}

header nav ul li
{
	margin-right: 10px;
	display: inline-block;
}

main article /*#artAltaUsuarios*/
{
	display: none;
	margin: 0 auto;
	width: 250px;
}

#entradaUsuario
{
	margin: 0 auto;
	width: 350px;
}

