body
{
	font-size: 16px; 
	margin: 0 auto;
	max-width: 1078px; /*decision de la empresa*/
	min-width: 1078px; /*cancela movimiento de elemento*/
}

header nav
{
	margin-left: 250px;
}


header nav ul li
{

	border-bottom: 1px solid gray;
	color: gray;
	display: inline-block;
	font-size: 1.8em;
	margin-right: 15px;

}

header input
{
	float: right;
	margin-right: -200px;
	margin-top: 15px;
	position: relative;
}

#bgoffer
{

	position: absolute;
	/*podemos usar atributos left right top*/
	top: -400px;
	left: -35px;
}

#granthams /*logo de la empresa*/
{
margin-top: 20px;
margin-left: 25px;
}

#paint
{
	float: right;
	margin-top: 17px;
}

#primerseccion
{
	margin-top: 70px;
}

#primerseccion article
{
	vertical-align: top;
	display: inline-block;
	margin-left: 25px;
}

#secc01art01
{
	width: 60%;
}

#secc01art02
{
	width: 30%;
}

.wecanoffer
{
	color: #FF0099;
	font-size: 3.35em;
	font-weight: bold;
}

















