body
{
	font-size: 16px; 
	margin: 0 auto;
	max-width: 1078px; /*decision de la empresa*/
	min-width: 1078px; /*cancela movimiento de elemento*/
}

header input
{
	float: right;
	margin-right: -200px;
	/*margin-top: 15px;*/
	position: relative;
}

header nav
{
	margin-left: 220px;
}


header nav ul li
{

	border-bottom: 1px solid gray;
	color: gray;
	display: inline-block;
	font-size: 1.8em;
	margin-right: 15px;
}

#bgoffer
{
	position: relative;
	top: -410px;
	left: -35;
}

#granthams /*logo de la empresa*/
{
	margin-top: 20px;
	margin-left: 20px;
}

#mailinglist
{
	padding-top: 60px;
}

#paint
{
	float: right;
	margin-top: 20px;
}

#primerseccion
{
	margin-top: 70px;
	/*padding-bottom: -70px;*/
	height: 318px;
}

#primerseccion article
{
	vertical-align: top;
	display: inline-block;
	margin-left: 25px;
}

#secc01art01
{
	width: 60%;
}

#segundaseccion article
{
	text-align: right;
	padding-right: 180px;
	margin-top: 13px;
}

#secc01art02
{
	width: 30%;
}

#secc01art02 ul
{
	list-style: none;
	padding-left: 10px;
}

#secc01art02 ul li:before
{
	content: "•";
	padding-right: 5px;
	color: #FF0099;
	opacity: 0.2;
}

#terceraseccion article
{
	display: inline-block;
	width: 22%;
	vertical-align: top;
}

#terceraseccion article img
{
	vertical-align: middle;
}

.colorrosa
{
	color: #FF0099;
}

.colorverde
{
	color: #A3D948;
}

.colorazul
{
	color: #5880B9;
}

.colorrosa, .colorverde, .colorazul
{
	font-size: 1em;
	font-weight: bold;
}

.numerotelefono
{
	color: #FF0099;
	font-size: 2em;
	font-weight: bold;
}

.wecanoffer
{
	color: #FF0099;
	font-size: 3.35em;
	font-weight: bold;
}

















